<div class="new-contents">
  <div class="container new_content pt-5">
    <%= form_for @content do |form| %>
      <h3>Title</h3>
      <%= form.text_field :name, placeholder: "  タイトルを設定してください（動画タイトルでも構いません）" , class: "mb-3" %>
      <h4>動画</h4>
      <%= form.text_field :url, placeholder: "  動画のURLを貼り付けてください" , class: "mb-3" %><br>
      <h4>Action Plan を設定</h4>
      <span>Plan 1</span>
      <%= form.text_field :first_plan, placeholder: "   具体的なアクションプランを設定してください" , class: "mb-3 ml-1" %><br>
      <span>Plan 2</span>
      <%= form.text_field :second_plan, placeholder: "   具体的なアクションプランを設定してください" , class: "mb-3 ml-1" %><br>
      <span>Plan 3</span>
      <%= form.text_field :third_plan, placeholder: "   具体的なアクションプランを設定してください" , class: "mb-3 ml-1" %><br>
      <%= form.submit "追加する" %><br>
      <button type="button" class="btn btn-outline-dark mt-3"><%= link_to "戻る", contents_path, class: 'post ' %></button><br>
    <% end %>
  </div>
</div>
 